.all-glasses-containar {
  width: 95%;
  height: max-content;
  padding: 10px;
  padding-top: 0PX;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media (max-width: 2000px) {
  .all-glasses-containar {
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}
@media (max-width: 1550px) {
  .all-glasses-containar {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}
@media (max-width: 1400px) {
  .all-glasses-containar {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}
@media (max-width: 1000px) {
  .all-glasses-containar {
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}
@media (max-width: 800px) {
  .all-glasses-containar {
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin-left: 5%;
      margin-right: 5%;
  }
}
@media (max-width: 575px) {
  .all-glasses-containar {
      grid-template-columns: repeat(1, 1fr);
      width: 95%;
      margin-left: 10%;
      margin-right: 10%;
  }
}
.contant-containar-all {
  width: 320px;
  height: 420px;
  justify-items: center;
  margin-bottom: 100px;
}
.img-all-cont {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 7px;
}
.sale-containar {
  height: 23px;
  margin-bottom: 20px;
  width: 100%;
}
.sale-div {
  width: 70px;
  height: 23px;
  background-color: #ff0000b7;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.sale-h6 {
  margin: 0px;
  margin-right: 2px;
}
.quick-add-button-css {
  width: 320px;
  height: 40px;
  background-color: #ffffff;
  border: #000000 1px solid;
  font-size: 100%;
  font-weight: bold;
}
.btn {
  position: relative;
  color: #000;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s ease;
}
.liquid {
  background: linear-gradient(to right, #0080ff, #001e4d, #ff1e00) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.1s calc(0.1s - var(--t, 0s));
}
.liquid:hover {
  --p: 100%;
  --t: 0.1s;
  color: #fff;
  border: #fff 1px solid;
}
.name-all {
  margin-bottom: 0px;
  color: #000000a5;
}
.price-div {
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.prive-without-sele  {
  margin-right: 15px;
  text-decoration-line: line-through; 
}
.prive-with-sele {
  color: #ff0000;
}
.sayed01{
  margin: 0;
  margin-left: 30;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #00122e90;
}
.lens-type-dive {
  width: 100%;
  display: flex;
}
#viewblock {
  opacity: 0.4;
}

.contant-containar-all-2 {
  width: 95%;
  height: 200px;
  justify-items: center;
  margin-bottom: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.for-sele {
  width: 250px;
}
.for-contant {
  width: max-content;
}
.prodact-img {
  width: 250px;
}
.for-con-h {
  margin: 0;
}
.price-div1 {
  display: flex;
  margin-top: -20px;
  margin-bottom: 30px;
}
.all-glasses-containar-2 {
  width: 95%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2.5%;
  margin-right: 2.5%;
}
@media (max-width: 2000px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .contant-containar-all-2 {
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1600px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(2, 2fr); 
  }
}
@media (max-width: 1400px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(1, 1fr);
  }
  .contant-containar-all-2 {
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 20px;
      margin-top: 0px;
  }
}
@media (max-width: 575px) {
  .all-glasses-containar-2 {
      grid-template-columns: repeat(1, 1fr);
  }
}
/**/
@media (max-width: 2000px) {
  .for-sele {
    width: 350px;
  }
  .for-contant {
    width: max-content;
  }
  .prodact-img {
    width: 350px;
  }
}
@media (max-width: 1400px) {
  .for-sele {
    width: 250px;
  }
  .for-contant {
    width: max-content;
  }
  .prodact-img {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .for-sele {
    width: 250px;
  }
  .for-contant {
    width: max-content;
  }
  .prodact-img {
    width: 250px;
  }
}
@media (max-width: 575px) {
  .for-sele {
    width: 150px;
  }
  .for-contant {
    width: max-content;
  }
  .prodact-img {
    width: 150px;
  }
  .sale-div1 {
    width: 60px;
  }
  .for-con-h {
    font-size: 90%;
  }
  .quick-2 {
    width: 220px;
    height: 30px;
  }
}

.hr-new {
  border: 0; height: 2px; 
  background: linear-gradient(to right, #002b55, #00162c, #9f1300, #6d0d00);
  margin-top: 0;
  width: 90%;
  margin-bottom: 30px;
}
.h1-new {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  font-size: 80%;
  margin-bottom: 0;
}
.div-accs {
  width: 300px; 
  width: 300px;
  height: 250px;
  transition-duration: 1s;
  background-color: #d5d5d5;
  background-size: cover;
  border-radius: 10px;
  padding: 0;
  transition-duration: 1s;
  overflow: hidden;
  margin-bottom: 30px;
}
.back-filter {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 0;
  transition-duration: 1s;
  background-color: #0000005d;
}
.accs-h4 {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  transition-duration: 1s;
  color: #fff;
  text-shadow: 1px 1px 20px #000;
  padding-top: 190px;
  overflow: hidden;
}
.sale-div12 {
  width: 70px;
  height: 23px;
  background-color: #ff0000b7;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  margin-top: -10px;
  margin-left: 20px;
}
.sale-h6 {
  margin: 0px;
  margin-right: 2px;
}
.discription {
  font-size: 80%;
  text-shadow: 1px 1px 20px #000;
  max-width: 85%;
  margin: 0;
  margin-top: 10px;
  color: #ffffffa9;
  display: none;
  transition-duration: 1s;
  margin-left: 20px;
}
.discription1 {
  font-size: 100%;
  text-shadow: 1px 1px 30px #000000;
  max-width: 85%;
  color: #f81d00;
  margin: 0;
  display: none;
  transition-duration: 1s;
  margin-left: 20px;
}
.price-div12 {
  width: 94%;
  margin-top: 10px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: 10px;
}
.prive-without-sele2  {
  text-decoration-line: line-through; 
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px 20px #ffffff;
  margin-right: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prive-with-sele2 {
  color: #ff0000;
  margin: 0;
  text-shadow: 1px 1px 20px #000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-acc {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 25px;
  width: 94%;
  height: 40px;
  font-size: 90%;
  background-color: #780000;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
}
.back-filter:hover {
  transition-duration: 1s;
  backdrop-filter: blur(5px);
  .accs-h4 {
    padding-top: 25px;
    font-size: 130%;
  }
  .discription {
    transition-duration: 1s;
    max-width: 85%;
    display: block;
  }
  .discription1 {
    transition-duration: 1s;
    max-width: 85%;
    display: block;
  }
}

.eye-glasses {
  margin-top: 30px;
}
.sun-glasses {
  margin-top: 30px;
}
.acc-glasses {
  margin-top: 30px;
}
.brand-glasses {
  margin-top: 30px;
}